cache: bundler

jobs:
  include:
    - stage: lint
      language: node_js
      node_js:
        - "node"
      script: npm run lint
      stage: test
      language: node_js
      node_js:
        - "node"
        - "10"
        - "9"
        - "8"
      script: npm run test