cache: bundler

jobs:
  include:
    - stage: lint
      language: node_js
      node_js:
        - "node"
      script: npm run eslint
    - stage: test
      language: node_js
      node_js:
        - "node"
        - "10"
        - "9"
        - "8"
      script: npm run test
    - stage: deploy changes to github releases
      script: echo "tbd releases"
    - stage: deploy docs to github pages
      language: node_js
      node_js:
        - "node"
      script: npm ci && npm run esdoc
      deploy:
        local-dir: docs
        provider: pages
        skip-cleanup: true
        github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
        keep-history: true
        on:
          branch: master
    - stage: deploy new version to NPM
